---
import Layout from "../../layouts/Layout.astro";
---
<Layout title="Nuestro Equipo" author="Noelia Sánchez Domínguez">
    <a href="./Guillermo_Orio/">Guille</a>
    <a href="./Noelia_Sanchez/">Noelia</a>
</Layout>