---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Abecedario de Servicios" author="Guillermo Orio Fernández & Noelia Sánchez Domínguez">

    <section>
        <h1>Abecedario de Servicios</h1>
        <p/>
    </section>
      
    <section>
        <div>
            <div>
                <h2>Índice</h2>
                <div style="display: flex; flex-direction: row; flex-wrap: wrap;">                    <div style="flex: 1;">
                        <ul>
                            <li><a href="#letra-a">A</a></li>
                            <li><a href="#letra-b">B</a></li>
                            <li><a href="#letra-c">C</a></li>
                            <li><a href="#letra-d">D</a></li>
                            <li><a href="#letra-e">E</a></li>
                            <li><a href="#letra-f">F</a></li>
                            <li><a href="#letra-g">G</a></li>
                        </ul>
                    </div>
                    <div style="flex: 1;">
                        <ul>
                            <li><a href="#letra-h">H</a></li>
                            <li><a href="#letra-i">I</a></li>
                            <li><a href="#letra-j">J</a></li>
                            <li><a href="#letra-k">K</a></li>
                            <li><a href="#letra-l">L</a></li>
                            <li><a href="#letra-m">M</a></li>
                            <li><a href="#letra-n">N</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <h2 id="letra-a">A - Alta Disponibilidad</h2>
            <p>Garantizamos la alta disponibilidad de tus sistemas, asegurando que tu negocio esté siempre operativo y sin interrupciones.</p>
            
            <h2 id="letra-b">B - Backup</h2>
            <p>Implementamos sistemas de backup robustos para proteger tu información y garantizar su recuperación ante cualquier problema.</p>
            
            <h2 id="letra-c">C - Conectividad</h2>
            <p>Diseñamos redes con una conectividad eficiente, asegurando que todas las partes estén perfectamente integradas y comunicadas.</p>
            
            <h2 id="letra-d">D - Redes de Diseño</h2>
            <p>Creamos redes de diseño personalizadas que se adaptan a las necesidades específicas de tu negocio, optimizando su rendimiento.</p>
            
            <h2 id="letra-e">E - Enrutadores (routers)</h2>
            <p>Configuramos y gestionamos enrutadores de alta calidad que proporcionan rutas rápidas y seguras para tus datos.</p>
            
            <h2 id="letra-f">F - Fiabilidad</h2>
            <p>Nuestra fiabilidad es la base de nuestras soluciones, proporcionando tranquilidad y confianza a nuestros clientes.</p>
            
            <h2 id="letra-g">G - Gestión de Proyectos</h2>
            <p>Nuestra gestión de proyectos garantiza una implementación puntual y eficiente, adaptándonos a los requerimientos y tiempos del cliente.</p>
            
            <h2 id="letra-h">H - Hosting</h2>
            <p>Proveemos servicios de hosting seguros y escalables, manteniendo tus aplicaciones y datos accesibles en todo momento.</p>
            
            <h2 id="letra-i">I - Incidencias</h2>
            <p>Nos anticipamos y resolvemos las incidencias antes de que afecten a tu negocio, manteniendo la operatividad sin que lo notes.</p>
            
            <h2 id="letra-j">J - Jenkins</h2>
            <p>Utilizamos Jenkins para automatizar y optimizar los procesos de desarrollo y despliegue, asegurando entregas continuas y de calidad.</p>
            
            <h2 id="letra-k">K - Key (clave de seguridad)</h2>
            <p>Protegemos tus datos y comunicaciones con claves de seguridad avanzadas, garantizando la integridad y confidencialidad de la información.</p>
            
            <h2 id="letra-l">L - Libre</h2>
            <p>Apostamos por el software libre, integrando herramientas abiertas que ofrecen flexibilidad y reducen costos sin sacrificar calidad.</p>
            
            <h2 id="letra-m">M - Monitoreo</h2>
            <p>Implementamos sistemas de monitoreo en tiempo real que permiten detectar y solucionar problemas proactivamente, antes de que afecten tu red.</p>
            
            <h2 id="letra-n">N - Nube</h2>
            <p>Facilitamos la migración y gestión en la nube, ofreciendo escalabilidad y accesibilidad sin precedentes.</p>
            
            <h2 id="letra-o">O - Optimización</h2>
            <p>Optimizamos tus infraestructuras para mejorar su eficiencia y rendimiento, reduciendo costos operativos y mejorando la productividad.</p>
            
            <h2 id="letra-r">R - Redundancia</h2>
            <p>Incorporamos redundancia en nuestras soluciones para asegurar que tu red permanezca operativa incluso ante fallos inesperados.</p>
            
            <h2 id="letra-s">S - Seguridad</h2>
            <p>Priorizamos la seguridad en cada solución que implementamos, protegiendo tus datos y redes contra amenazas internas y externas.</p>
            
            <h2 id="letra-t">T - Teletrabajo</h2>
            <p>Promovemos el teletrabajo tanto para nuestros clientes como en nuestra propia empresa, garantizando infraestructuras robustas que permiten trabajar sin problemas desde cualquier lugar.</p>
        </div>
    </section>

</Layout>
