---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Infralabs">
	<main>
		<h1>Bienvenido a Infralabs</h1>
		<a href="/nosotros/proyecto/">proyecto</a>
		<a href="/nosotros/Guillermo_Orio">Guillermo Orio</a>
	</main>
</Layout>

<style>
	main {
		background-color: rgba(var(--morado), 15%);
	}
</style>