---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Infralabs" author="Guillermo Orio Fernández & Noelia Sánchez Domínguez">
	<h1>Bienvenido a Infralabs</h1>
</Layout>

<style>
</style>