---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Infralabs" author="Guillermo Orio Fernández & Noelia Sánchez Domínguez">
	<section>
	<h1>Bienvenido a Infralabs</h1>
	<h3>Elevando tu infraestructura al siguiente nivel de la mano de expertos</h3>
	<p>Desde Infralabs ponemos diseñamos la arquitectura que necesitas y la mantenemos al día para que te puedas centrar en tu producto sin preocupaciones</p>
	<a href="">Contacta ahora</a>
	</section>
	<section>
		<h2>Conoce nuestros servicios</h2>
		<p>Migración, altas, Disaster Recovery, Preparación para auditorias, asesoramiento, soporte</p>
	</section>
	<section>
		<h2>Porque se duerme bien... <br>
			Cuando tu web está en buenas manos
		</h2>
		<p>Sabemos que el estres causa insomnio por lo que, gracias a nuestros sistemas de monitorización, arquitecturas de alta disponibilidad y backups redundantes, te podemos garantizar tiempos de funcionamiento del 99%</p>
	</section>
	<section>
		<h2>Ahorra sin perder servicio</h2>
		<p>Desde Infralabs siempre nos mantenemos al tanto del uso y coste de tu plataforma por lo que te asesoraremos sobre cómo reajustar los servicios y sobre los proveedores que mejor se ajustan a tus necesidades en cada etapa de tu producto</p>
	</section>
	<section>
		<h2>Porque la comunicación es importante</h2>
		<p>Siempre estamos ahí para ayudarte. Te explicaremos y asesoraremos sobre cualquier cuestión que tengas, agendando reuniones o por correo electrónico</p>
	</section>
	<section>
		<h2>De la complejidad a la simpleza</h2>
		<p>Nuestra empresa cree firmemente en la transmisión de conocimiento. Por ello tenemos montado un blog en el que te iremos informando de las últimas novedades en el mundo de la infraestructura y la seguridad</p>
		<a href="">blog</a>
	</section>
	<section>
		<h2>Con más llaves que el sepulcro del Cid</h2>
		<p>Tus datos están a salvo con Infralabs. Desde las comunicaciones contigo a tus servidores, Infralabs se asegura de que toda información sensible cuente con todo el blindaje posible</p>
	</section>
	<section>
		<h2>Porque cuando uno está a gusto echa raíces</h2>
		<p>carrusel con clientes</p>
	</section>
	<section>
		<h2>Nuestros proveedores</h2>
		<p>otro carrusel</p>
	</section>
</Layout>

<style>
	section:first-of-type{
		margin-top: 0;
	}
	section{
		margin: 1.5rem 0;
	}
</style>