---

import { GET } from '../api/comments.ts'
import CommentCard from './CommentCard.astro';

let response = await GET(Astro)
const comments = await response.json()
---
<h1>Comentarios</h1>
{Array.isArray(comments) && comments.length > 0 ? comments.map((comment) =>
  <CommentCard comment={comment}/>
  ) : <p>sin comentarios</p>
 }

<style>
</style>