---
export const prerender = false;
import CommentCard from './CommentCard.astro';

const {slug} = Astro.props
let response = await fetch(`http://localhost:4321/api/comments.json?post=${slug}`)
const comments = await response.json()
---
<h1>Comentarios</h1>
{Array.isArray(comments) && comments.length > 0 ? comments.map((comment) =>
  <CommentCard comment={comment}/>
  ) : <p>sin comentarios</p>
 }

<style>
</style>../pages/api/getcomments.json.ts