---

---

<footer>
    <section class="terminos">
        <a href="">Privacidad</a>
        <a href="">Aviso Legal</a>
        <a href="">Cookies</a>
    </section>
    <section class="redes">
        <a href="">Linkedin</a>
        <a href="">Instagram</a>
        <a href="">Twitter</a>
    </section>
</footer>