---
import Layout from "../../../layouts/Layout.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("fct_guille");
console.log(allPosts)
---

<Layout title="Blog del Proyecto" author="Guillermo Orio Fernández">
  <h1>blog del proyecto</h1>
  <ul>
    {allPosts.map((post:any) => <li><a href={`/nosotros/Guillermo_Orio/${post.slug}`}>{post.data.title}</a></li>)}
  </ul>
</Layout>
