---
import CommentUi from "../components/CommentUi.astro";
interface Props {
  title: string;
  author: string;
  type: string;
  id: number;
}

const { title, author, type, id } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Proyecto final de ASIR" />
    <meta name="author" content={author} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <section>
      <CommentUi />
    </section>
  </body>
</html>
<style is:global>
	:root {
		--fondo:9,19,25;
		--celeste:153,215,255;
		--turquesa: 42,129,168;
		--morado:55,42,98;
		--azul:3,66,113;
		
	}
	html {
		font-family: system-ui, sans-serif;
		background: rgb(var(--fondo));
		color: white;
		background-size: 224px;
	}
	*{
		margin:0;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>